---
import Layout from "../layouts/Layout.astro";
import { useCloud } from "freestyle-sh";
import { FeatureRequestsListCS } from "../cloudstate/feature-requests";
import { configureFreestyle } from "freestyle-sh";
import type { FeatureRequestsAppCS } from "$lib/cloudstate/app";
import FeatureRequests from "$lib/components/FeatureRequests.svelte";
import UserLogin from "$lib/components/UserProfile.svelte";
import cookie from "cookie";

configureFreestyle({
  createHeaders: () => Astro.request.headers,
});

{
  // TODO: remove this once we have a better way to handle sessions
  const parsedCookies = cookie.parse(Astro.request.headers.get("cookie") || "");
  const sessionId =
    parsedCookies["freestyle-session-id"] || crypto.randomUUID();
  Astro.response.headers.set(
    "set-cookie",
    `freestyle-session-id=${sessionId}; Path=/; HttpOnly; SameSite=Lax`
  );
}

const featureRequestsCS = useCloud<typeof FeatureRequestsListCS>(
  "feature-requests-list"
);
const app = useCloud<typeof FeatureRequestsAppCS>("feature-requests-app");

const featureRequets = await featureRequestsCS.getRequests();
const user = await app.getUserInfo();
---

<Layout title="Freestyle Astro">
  <main>
    <div>
      <div class="border-b h-16 flex justify-between px-4 items-center">
        Freestyle Feature Requests
        <div>
          <UserLogin user={user} client:load />
        </div>
      </div>
      <FeatureRequests client:load featureRequests={featureRequets} />
    </div>
  </main>
</Layout>
