---
import Layout from "../layouts/Layout.astro";
import Login from "../components/Login.svelte";
import FeatureRequests from "../components/FeatureRequests.svelte";
import { useCloud } from "freestyle-sh";
import { FeatureRequestsListCS } from "../cloudstate/feature-requests";
import "../cloudstate/auth";
import "../cloudstate/feature-requests";
import "../cloudstate/app";

const featureRequestsCS = useCloud<typeof FeatureRequestsListCS>(
  "feature-requests-list"
);
const featureRequets = await featureRequestsCS.getRequests();
---

<Layout title="Freestyle Astro">
  <main>
    <div>
      <h1>freestyle.sh – Astro</h1>
      <Login client:load />
      <FeatureRequests client:load featureRequests={featureRequets} />
    </div>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 44);
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    margin-top: 2rem;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
</style>
